*.o
vflash
disc_analyze
disc_compare
mjp_extract
ptx_extract
testrom_gen
testrom.bin
vflash_dbg
*.iso
*.cue
*.bin
!testrom.bin
flashem
*.so
*.dylib
*.dll

# Windows build (make platform=win / Makefile.libretro platform=win)
*.win.o
*.exe
